{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 140,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
